<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="./css/style.css" type="text/css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>คำนวณปุ๋ย</title>
</head>
<body>
  <div class="cage">
    <div class="bg-white border border-dark">
        <div class="order text-center bg-white">
            <div class="row">
                <div class="col-sm border p-1 border-dark bg-secondary">
                    ขั้นตอนที่ 1
                </div>
                <div class="col-sm border p-1 border-dark" style="background-color: rgb(235, 128, 46);">
                    ขั้นตอนที่ 2
                </div>
                <div class="col-sm border p-1 border-dark">
                    ขั้นตอนที่ 3
                </div>
                <div class="col-sm border p-1 border-dark">
                    ขั้นตอนที่ 4
                </div>
            </div>
      </div>
      <h4 class="text-center p-4">วิธีการเก็บตัวอย่างดิน</h4>

      <div class="container" style="background-color: #ecb68d;">
        <pre></pre>
        <h6>การเก็บตัวอย่างดินเพื่อวิเคราะห์ทางเคมี</h6>
        <p class="container">การเก็บตัวอย่างดินที่ถูกต้อง จะต้องได้ตัวอย่างดินที่เป็นตัวแทนถูกต้องของดินในพื้นที่นั้น พื้นที่เก็บดินแต่ละตัวอย่างควรมีพื้นที่ไม่เกิน 50 ไร่ และมีลักษณะที่ใกล้เคียงกันในพื้นที่ ถ้าพื้นที่ที่ต้องเก็บข้อมูลตัวอย่างเป็นพื้นที่ใหญ่มาก ลักษณะพื้นที่ดินไม่สม่ำเสมอ มีลักษณะแตกต่างกัน เช่น พื้นที่สูงต่ำไม่เท่ากันเคยปลูกพืชต่างกัน มีประวัติใช้ปุ๋ยต่างกันหรือการใช้ที่ดินแตกต่างกัน  มีสีต่างกัน ฯลฯ จะต้องแบ่งพื้นที่ออกเป็นแปลงย่อยและแยกเก็บตัวอย่างดิน ช่วงเวลาที่เหมาะสมสำหรับการเก็บตัวอย่างดิน ควรเก็บก่อนปลูกพืช 1-2 เดือน และควรเก็บตัวอย่างมาวิเคราะห์ 2-3 ปีต่อครั้ง </p>
        <img src="img/a.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">
        <div class="container ">
            อุปกรณ์<ol>
                <li>จอบ</li>
                <li>เสียม</li>
                <li>พลั่ว</li>
                <li>ถุงพลาสติก หรือกระป๋องพลาสติก</li>
                <li>ผ้าพลาสติก ขนาดประมาณ 1x1 เมตร</li>
                <li>ปากกาเคมี</li>
            </ol>
        </div>
        <p class="container text-danger">**อุปกรณ์ทุกอย่าง ต้องสะอาด**</p>
        <h6>วิธีการเก็บตัวอย่างดิน</h6>
        <ol>
            <li>
                แบ่งพื้นที่ (กรณีพื้นที่ใหญ่ หรือดินมีความแตกต่างกัน) เมื่อแบ่งแล้วให้หมายเลขแต่ละแปลง หรือทำแผนที่แสดงการแบ่งแปลงเพื่อกันลืม
                <img src="img/b.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">
            </li>
            <li>
                ในพื้นที่ยังไม่มีการปลูกพืช ให้เดินสุ่มเก็บตัวอย่างดินให้ทั่วแปลงในแต่ละแปลง แปลงละประมาณ 15 จุด 
                <img src="img/c.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">
            </li>
            <li>
                การตัวอย่างดินเก็บดินแต่ละจุดให้ใช้พลั่วขุดดินเป็นรูปลิ่มลึกประมาณ 15 ซม. หลังจากนั้นเก็บดิน โดยใช้พลั่วแซะดินข้างหลุม (ด้านเรียบ) ให้ได้ดินเป็นแผ่นหนาประมาณ   2-3 ซม. จนถึงก้นหลุม ดินที่ได้เก็บรวบรวมใส่ถุง หรือถังพลาสติก 
                <img src="img/d.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">
            </li>
            <li>
                เทดินที่เก็บตัวอย่างรวมกัน แยกตามชั้นดิน คลุกเคล้าดินแต่ละแปลงที่เก็บมาให้เข้ากันแล้วเทลงบนผ้าพลาสติก ทำการคลุกเคล้าให้เข้ากันโดยยกมุมผ้าพลาสติกทีละ 2 มุมให้ดินผสมให้เข้ากัน ทำสลับมุมกัน   3-4 ครั้ง 
                <img src="img/e.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">
            </li>
            <li>
                หลังจากนั้นกองดินให้เป็นรูปฝาชี แล้วใช้มือตบยอดกองให้แบนราบ หลังจากนั้นใช้นิ้วมือขีดเป็นกากบาด บนยอดกอง ซึ่งจะทำให้ดินถูกแบ่งแยกเป็น 4 ส่วน 
                <img src="img/f.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">
            </li>
            <li>
                เก็บตัวอย่างจากกองดินนี้เพียง 1 ส่วน ให้ได้ดินหนักประมาณครึ่งกิโลกรัม ใส่ดินลงในถุงพลาสติกที่เตรียมไว้เพื่อส่งวิเคราะห์ เขียนป้ายเบอร์แปลง พร้อมรายละเอียดต่างๆ เกี่ยวกับตัวอย่างดิน  
            </li>
            <img src="img/g.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">
        </ol>
        <h6> สถานที่ส่งตัวอย่างดิน</h6>
        <ul>
            <li>ศูนย์วิจัยและพัฒนาการเกษตรประจำจังหวัด หรือสำนักวิจัยและพัฒนาการเกษตร สังกัดกรมวิชาการเกษตร ในเขตพื้นของเกษตรกร</li>
            <img src="../img/h.png" class="img-fluid rounded mx-auto d-block p-1" alt="Banner" style="max-height: 300px; max-width: 300px;">  
        </ul> 
        <br>
      </div>

      <br>
        <button onclick="goBack()" type="button" class="btn btn-lg btn-block rounded mx-auto d-block" style="background-color: rgb(242, 187, 46); margin-bottom: 1em">
          <a style="text-decoration: none; color: rgb(33, 33, 33);"> <- ย้อนกลับ </a>
        </button>
        <script>
            function goBack() {
            window.history.back();
            }
        </script>

    </div>
  </div>
</body>

</html>