<!DOCTYPE html>
<html>
<head>
	<title>Login/Register Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		.center {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
        .top-bg {
			background-color: rgb(255, 111, 0);
			height: 5%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}
		.bottom-bg {
			background-color: rgb(255, 111, 0);
			height: 5%;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}
	</style>
</head>
<body>

	<div class="top-bg"></div>
	<div class="bottom-bg"></div>
	<div class="center">
		<div class="col-md-6">
			<h2 class="text-center">คำนวณปุ๋ยจากค่าวิเคราะห์ดิน</h2>
            <br>
			<div class="card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#login" data-toggle="tab">เข้าสู่ระบบ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#register" data-toggle="tab">สมัครสมาชิก</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content">
						<!-- Login Tab Content -->
						<div class="tab-pane active" id="login">
							<form action="/login" method="POST">
								<div class="form-group">
									<label for="username">เลขบัตรประชาชน</label>
									<input type="text" class="form-control" id="username" name="user_card" required>
								</div>
								<div class="form-group">
									<label for="password">รหัสผ่าน</label>
									<input type="password" class="form-control" id="password" name="user_pass" required>
								</div>
								<button type="submit" class="btn btn-primary">Login</button>
							</form>
						</div>
						<!-- Register Tab Content -->
						<div class="tab-pane" id="register">
							<form action="/register" method="POST" novalidate>
								<div class="form-group">
									<label for="new-username">เลขบัตรประชาชน</label>
									<input type="text" class="form-control" id="_rcard" name="user_card" value="<%= (locals.old_data) ? old_data.user_card : '' %>" placeholder="เลขบัตรประชาชน" required>
								</div>
								<div class="form-group">
									<label for="new-password">รหัสผ่าน</label>
									<input type="password" class="form-control" id="_rpass" name="user_pass" value="<%= (locals.old_data) ? old_data.user_pass : '' %>" placeholder="รหัสผ่าน" required>
								</div>
								<div class="form-group">
									<label for="confirm-password">ยืนยัน-รหัสผ่าน</label>
									<input type="password" class="form-control" id="_rcpass" name="user_cpass" placeholder="ยืนยัน-รหัสผ่าน" required>
								</div>
								<% if(locals.register_error) {
									register_error.forEach(function(error_msg) { %>
									<div class="alert alert-danger" role="alert"><%= error_msg%></div>
								<% })
								} %>
								<button type="submit" class="btn btn-primary">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery and Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
