<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="./css/style.css" type="text/css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      input:focus {
        background-color: rgb(235, 173, 79);
      }
    </style>
    <title>คำนวณปุ๋ย</title>
</head>
<body>
  <div class="cage">
    <div class="bg-white border border-dark">
      <div class="order text-center bg-white">
        <div class="row">
          <div class="col-sm border p-1 border-dark bg-secondary">
            ขั้นตอนที่ 1
          </div>
          <div class="col-sm border p-1 border-dark" style="background-color: rgb(235, 128, 46);">
            ขั้นตอนที่ 2
          </div>
          <div class="col-sm border p-1 border-dark">
            ขั้นตอนที่ 3
          </div>
          <div class="col-sm border p-1 border-dark">
            ขั้นตอนที่ 4
          </div>
        </div>
    </div>
    <br>

    <div class="container">

      <br>
      <div class="card border border-dark rounded mx-auto d-block p-2" style="width: auto; max-width: 600px"">
        <div class="card-body">

          <h3 class="text-center">ค่าวิเคราะห์ดิน</h3>
          <br>
          <form method="GET" action="/showCorn">
            <div class="form-group">
              <div class="row text-center" style="background-color:rgb(138, 193, 93); font-weight: 500;">
                <div class="col border border-1" style="width: 25%;">ph</div>
                <div class="col border border-1" style="width: 25%;">OM %</div>
                <div class="col border border-1" style="width: 25%;">P (mg/kg)</div>
                <div class="col border border-1" style="width: 25%;">K (mg/kg)</div>
              </div>
              <div class="row text-center yellow">
                <div class="col border" style="width: 25%;">
                    <input type="number"  id="myNumberInput" step="any" class="form-control border-gone yellow text-center" name="pH" placeholder="เลข" autofocus>
                </div>
                <div class="col border" style="width: 25%;">
                    <input type="number"  id="myNumberInput" step="any" class="form-control border-gone yellow text-center" name="oM" placeholder="เลข">
                </div>
                <div class="col border" style="width: 25%;">
                    <input type="number"  id="myNumberInput" step="any" class="form-control border-gone yellow text-center" name="available_P" placeholder="เลข">
                </div>
                <div class="col border" style="width: 25%;">
                    <input type="number"  id="myNumberInput" step="any" class="form-control border-gone yellow text-center" name="ex_K" placeholder="เลข">
                </div>
            </div>
              <br>
              <div class="row text-center">
                <div style=" max-width: 400px; margin-left: auto; margin-right: auto;">
                  <div class="row text-center">
                    <div style="width: 12%;">
                        <label class="text-right">พื้นที่ปลูก</label>
                    </div>
                    <div class="col" style="width: 12%; position: relative;">
                        <input type="number"  id="myNumberInput" class="form-control yellow" name="rai" style="width: 70%; margin-left: 10px;">
                        <span class="placeholder" style="margin-left: 10px;">ไร่</span>
                    </div>
                    <div class="col" style="width: 12%; position: relative;">
                        <input type="number"  id="myNumberInput" class="form-control yellow" name="ngan" style="width: 70%; margin-left: 10px;">
                        <span class="placeholder" style="margin-left: 10px;">งาน</span>
                    </div>
                    <div class="col" style="width: 12%; position: relative;">
                        <input type="number"  id="myNumberInput" class="form-control yellow" name="squareWa" style="width: 70%; margin-left: 10px;">
                        <span class="placeholder" style="margin-left: 10px;">ตรว.</span>
                    </div>
                </div>
                
                  <style>
                  .placeholder {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 90px;
                    font-size: 1em;
                    color: gray;
                  }
                  @media screen and (max-width: 600px) {
                    .placeholder {
                        left: 70px;
                    }
                  }
                  </style>
                </div>
              </div>
              <br>

              <div class="container">
                <div class="row text-center" style="background-color:rgb(138, 193, 93); font-weight: 500;">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 " style="background-color: white;"></div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">N</div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">P</div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">K</div>
                </div>
                <div class="row text-center yellow">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border border-0" style="background-color: white;">ไนโตรเจน</div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="nn" placeholder="เลข" value="0">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="np" placeholder="เลข" value="0">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border text-end"> 
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="nk" placeholder="เลข" value="0"> 
                  </div>
                </div>
                <div class="row text-center yellow">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-sm-center" style="background-color: white;">ฟอสฟอรัส</div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="pn"  placeholder="เลข" value="0">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="pp"  placeholder="เลข" value="0">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border text-end"> 
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="pk"  placeholder="เลข" value="0"> 
                  </div>
                </div>
                <div class="row text-center yellow">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 " style="background-color: white;">โพแทสเซียม</div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="kn"  placeholder="เลข" value="0">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border">
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="kp"  placeholder="เลข" value="0">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-3 border text-end"> 
                    <input type="number"  id="myNumberInput" class="form-control border-gone yellow text-center" name="kk"  placeholder="เลข" value="0"> 
                  </div>
                </div>
              </div>
              <br>

              <div class="container text-center" style="max-width: 85%;">
                <div class="row">
                  <div class="col text-end">ราคา</div>
                  <div class="col">
                    <input type="number"  id="myNumberInput" class="form-control border yellow" name="price1" > 
                  </div>
                  <div class="col text-start">บาท/กระสอบ</div>
                  <div class="w-100"></div>
                  <div class="col text-end">ราคา</div>
                  <div class="col">
                    <input type="number"  id="myNumberInput" class="form-control border yellow" name="price2" > 
                  </div>
                  <div class="col text-start">บาท/กระสอบ</div>
                  <div class="w-100"></div>
                  <div class="col text-end">ราคา</div>
                  <div class="col">
                    <input type="number"  id="myNumberInput" class="form-control border yellow" name="price3" > 
                  </div>
                  <div class="col text-start">บาท/กระสอบ</div>
                </div>
              </div>

            </div>

            <br>
            <button type="submit" class="btn btn-primary btn-block rounded mx-auto d-block">Submit</button>
          </form>
          
        </div>
      </div>

    </div>
    <br>
    <button onclick="goBack()" type="button" class="btn btn-lg btn-block rounded mx-auto d-block" style="background-color: rgb(242, 187, 46); margin-bottom: 1em">
      <a style="text-decoration: none; color: rgb(33, 33, 33);"> <- ย้อนกลับ </a>
    </button>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>

  </div>
</body>

</html>